@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Crete+Round&family=Press+Start+2P&family=VT323&display=swap');

.bg-footer-dark {
	background-color: #2F4F4F !important;
}

.bg-footer-light {
	background-color: #EAEAEA !important;
}

.margin-footer {
	margin-bottom: 0px !important;
}

.footer-logo {
	width: 10rem !important;
	height: 10rem !important;
}

.social-hover:hover {
	color: #CD7F32 !important;
}

.large-social-icon-sm-md {
  font-size: 2rem !important;
}

.large-social-icon-lg {
  font-size: 2.5rem !important;
}

.no-decoration {
  text-decoration: none !important;
  color: inherit !important;
}

.email-icon-size {
  font-size: 1.25rem !important;
}

.arcade-font {
	margin-left: 0.25rem;
  font-family: 'Press Start 2P', monospace;
	font-size: 0.75rem;
}
