* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.ancla:before{
    display:block;
    content:" ";
    margin-top: -74px;
    height: 74px;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

footer {
	flex-shrink: 0;
}

.custom-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #4c4c6d;
}

body.app-mode-dark {
	background-color: #333;
	color: white;
}

body.app-mode-light {
	background-color: #f0f0f0;
	color: black;
}

::selection {
	background-color: #ff8062;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}