@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

.container-carousel {
	position: relative;
	height: 100vh;
}
.container-carousel img {
	height: 100%;
	object-position: top;
}

.carousel-item {
	height: 100vh;
}

.overlay {
	font-family: "Ubuntu Condensed", sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
}

.overlay h3 {
	font-size: 50px;
}

.btn-bottom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-banner-custom-light {
  background-color: #6B8EAE !important;
	border: 1px solid #D4AF37 !important;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-banner-custom-light:hover {
	background-color: #7C9DBF !important;
}

.btn-banner-custom-dark {
  background-color: #1F2D3D !important;
	border: 1px solid #CD7F32 !important;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-banner-custom-dark:hover {
  background-color: #2A3B4C !important;
}